html,
body {
    height: unset;
    margin: 0;
    padding: 0;
    background-color: #121212;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.UpperBar {
    color: #fff;
    background-color: black;
    height: 100%;
}

.logo {
    text-align: left;
}

.table {
    background-color: #121212;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.table-hover {
    --bs-table-hover-color: #1ed760;
    --bs-table-hover-bg: #9d8f8f2e;
}

th {
    color: #a7a7a7;
    border: #181818;
}

tr {
    color: #fff;
    border: #181818;
}

.Footer {
    height: 50px;
    margin-top: -50px;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.PlayerBar {
    color: #fff;
    background-color: #181818;
    border-color: transparent;
    display: -webkit-flex;
    width: 100%;
}

.CurrentSongInfo {
    display: -webkit-flex;
    width: 20%;
}

.Player {
    padding: 10px;
    width: 80%;
    text-align: center;
}
