html,
body {
    min-height: 100%;
    margin: 0;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

table {
    background-color: #121212;
    margin-bottom: 200px;
    padding-bottom: 50px;
}

th {
    color: #a7a7a7;
    border: #181818;
}

tr {
    color: #fff;
    border: #181818;
}

.PlayerBar {
    color: #fff;
    background-color: #181818;
    border-color: transparent;
    height: 50px;
    margin-top: -50px;
    width: 100%;
    bottom: 0;
    position: fixed;
}
